.create-organization-root{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #2cc1ff;
}

.content{
    display: flex;
    flex-direction: column;
}

.content > *{
    margin: 0.5em;
    font-size: 18px;
}


.btn, .input-text{
    padding: 1em;
    border: none;
}