.create-patient-root{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #2cc1ff;
}

.content p{
    width: 20em;
    height: 20em;
    background-color: aquamarine;
}