<section class="app">
  <aside class="sidebar">
    <header>
      Patient Management system
    </header>
    <nav class="sidebar-nav">
      <ul>
        <li>
          <a routerLink="/web"><span>Patients</span></a>
          <ul class="nav-flyout">
            <li>
              <a routerLink="/web/edit-patient">Search for Patient</a>
            </li>
            <li>
              <a routerLink="/web/create-patient">Create Patient</a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="/web"> <span class="">Medical Centers</span></a>
          <ul class="nav-flyout">
            <li>
              <a routerLink="/web/edit-medical-center">Search for Medical Center</a>
            </li>
            <li>
              <a routerLink="/web/create-medical-center">Create Medical Center</a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="/web"><span class="">Organizations</span></a>
          <ul class="nav-flyout">
            <li>
              <a routerLink="/web/edit-organization">Search for Organization</a>
            </li>
            <li>
              <a routerLink="/web/create-organization">Create Organization</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</section>