<section class="app">
  <aside class="sidebar">
    <header>
      Patient Management system
    </header>
    <nav class="sidebar-nav">
      <ul>
        <li>
          <a href="#"><span>Patients</span></a>
          <ul class="nav-flyout">
            <li>
              <a href="#">Search for Patient</a>
            </li>
            <li>
              <a href="#">Create Patient</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"> <span class="">Medical Centers</span></a>
          <ul class="nav-flyout">
            <li>
              <a href="#">Search for Medical Center</a>
            </li>
            <li>
              <a href="#">Create Medical Center</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"><span class="">Organizations</span></a>
          <ul class="nav-flyout">
            <li>
              <a href="#">Search for Organization</a>
            </li>
            <li>
              <a href="#">Create Organization</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</section>